body{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#64a3ec+0,599ae6+25,007aff+100 */
background: #64a3ec; /* Old browsers */
background: -moz-linear-gradient(top,  #64a3ec 0%, #599ae6 25%, #007aff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #64a3ec 0%,#599ae6 25%,#007aff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #64a3ec 0%,#599ae6 25%,#007aff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
color: #F7F7FF;
display: flex;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64a3ec', endColorstr='#007aff',GradientType=0 ); /* IE6-9 */
font-size: 16px;
justify-content: center;
margin: 0 auto;
width: 800px;
}

h1{
  font-family: rift-soft;
  font-size: 53.6px;
  font-weight: 300;
  letter-spacing: 5.2px;
}

h2{
  font-family: rift-soft;
  font-size: 47.5px;
}

h3{
  font-family: rift-soft;
  font-size: 32px;
}

h4{
  font-size: 23.75px;
}

.body-text{
  font-family: 'Merriweather', serif;
  font-size: 16px;
  letter-spacing: .35px;
  line-height: 25px;
}

.primary-text{
  font-weight: 700;
  letter-spacing: 1.2px;
}

.secondary-text{
  font-weight: 300;
}

.small-italic-text{
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-style: italic;
  font-size: .8em;
  margin-top: 35px;
}

.body__link{
  color: #F7F7FF;
  font-family: 'Merriweather', serif;
  font-size: 14px;
  letter-spacing: 1.2px;
  line-height: 25px;
}

.read__more{
  float: right;
}

.flex-box{
  display: flex;
  justify-content: center;
}

.flex{
  display: flex;
  justify-content: center;
}

.header{
  margin-top: 50px;
}

.header__company_logo{
  float: left;
}

.nav{
  height: 115px;
  margin-bottom: 50px;
}

.main-nav{
  display: flex;
  float: right;
  margin-top: 58px;
}

.main-nav__item{
  font-family: rift-soft;
  font-size: 23.5px;
  letter-spacing: .25px;
  padding-left: 45px;
}

.nav__link{
  text-decoration: none;
  color: #F7F7FF;
}

.nav__link:visited{
  color: #F7F7FF;
}

.nav__link_current{
  text-decoration: underline;
}

.nav__link:hover{
  text-decoration: underline;
}

.main-header{
  clear: both;
  display: flex;
  justify-content: center;
}

.sub-header{
  font-family: 'Merriweather', serif;
  font-size: 23.75px;
  letter-spacing: .25px;
  line-height: 45px;
}

.text-wrapper{
  margin: 30px 0px;
}

.cloud-container{
  height: 175px;
  position: relative;
  width: 800px;
}

.cloud1__img{
  margin-top: 55px;
  margin-left: 150px;
  position: absolute;
}

.cloud2__img{
  margin-top: 100px;
  margin-left: 395px;
  position: absolute;
}

.cloud3__img{
  margin-top: 35px;
  margin-left: 580px;
  position: absolute;
}

.skyline{
  margin-top: 60px;
}

.tagline-wrapper{
  margin-top: 75px;
}

.tagline{
  margin-top: 12px;
}

.line{
  margin: 100px 0px;
}

.secondary-title{
  font-family: rift-soft;
  font-size: 45.7px;
  margin-bottom: 55px;
}

.events-box{
  height: 650px;
  width: 590px;
}

.event-title{
  font-family: rift-soft;
  font-size: 32px;
  letter-spacing: .35px
  line-height: 35px;
  margin-bottom: 25px;
}



.event-image{
  float: left;
  margin-bottom: 25px;
}

.event-detail-box{
  float: right;
  margin-left: 35px;
  width: 407px;
}

.event-detail{
  margin-bottom: 15px;
}

.float-left{
  float: left;
}



.float-right{
  float: right;
  margin-right: 20px;
}

.btn{
  background-color: #EA526F;
  border: 1.4px solid #424651;
  border-radius: 4.2px;
  color: #F7F7FF;
  font-family: rift-soft;
  font-weight: 700;
}

.email{
  background: #fff;
  border: solid 1px #424651;
  border-radius: 5.6px;
  box-shadow:inset 0 0 1px 1px #464646;
  height: 33px;
  width: 205px;
}

input[type=email]{
  color: #4A4A4A;
  font-family: 'Merriweather';
  font-weight: 300;
  padding: 6px 6px;
}

.sign-up{
  border: 1px solid #424651;
  border-radius: 5.6px;
  box-shadow: 1px 3px 5px #464646;
  font-family: rift-soft;
  font-size: 19.6px;
  height: 33px;
  width: 82px;
  background-color: #70E6C5;
  color: #F7F7FF;
}

.main-rsvp{
  clear: both;
  float: left;
  font-size: 28px;
  height: 43px;
  letter-spacing: 3.21px;
  width: 147px;
}

.attend-event{
  margin-top: 52px;
}

.secondary-rsvp{
  float: right;
  font-size: 16px;
  height: 26px;
  letter-spacing: 1.93px;
  width: 88px;
}

.footer__item{
  font-family: rift-soft;
  letter-spacing: .20px;
  margin-right: 20px;
}

footer{
  margin-bottom: 100px;
}

