.btn {
  background-color: $primary-btn-background;
  border: 1.4px solid $primary-color;
  border-radius: 4.2px;
  color: $primary-color;
  height: 43px;
  font-family: $rift;
  font-weight: $regular; 
}

.btn__primary {
  clear: both;
  font-size: 1.7em;
  letter-spacing: $medium-spacing;
  width: 147px;
}

.btn__primary--small {
  font-size: $font--small;
  height: 1.8em;
  letter-spacing: 1.93px;
  width: 88px;
}

.btn__tertiary {
  background-color: $secondary-btn-background;
  border-radius: 5.6px;
  font-size: 19.6px;
  height: 33px;
  vertical-align: top;
  width: 82px; 
}
