.btn {
  background-color: #EA526F;
  border: 1.4px solid $primary-color;
  border-radius: 4.2px;
  color: #F7F7FF;
  font-family: rift-soft;
  font-weight: 700; }

.primary-button{
  background-color: $btn-background;
  border: 1.4px solid $primary-color;
  border-radius: 4.2px;
  color: $primary-color;
  font-family: $rift;
  font-weight: $bold;
}

.btn__main-rsvp{
  clear: both;
  float: left;
  font-size: 28px;
  height: 43px;
  letter-spacing: 3.21px;
  width: 147px;
}

.btn__secondary-rsvp{
  float: right;
  font-size: 16px;
  height: 26px;
  letter-spacing: 1.93px;
  width: 88px;
}

.sign-up{
  background-color: $btn-background;
  border: 1px solid #424651;
  border-radius: 5.6px;
  box-shadow: 1px 3px 5px #464646;
  color: $primary-color;
  font-family: $rift;
  font-size: 19.6px;
  height: 33px;
  vertical-align: top;
  width: 82px; 
}

input[type=email]{
  color: #4A4A4A;
  font-family: $Merriweather;
  font-weight: $light;
  padding: 6px 6px;
}

.email{
  background: #fff;
  border: solid 1px #424651;
  border-radius: 5.6px;
  box-shadow:inset 0 0 1px 1px #464646;
  height: 34px;
  width: 205px;
}
