input[type=email]{
  color: $grey;
  font-family: $Merriweather;
  font-weight: $light;
  padding: 6px 6px;
}

.email{
  background: #fff;
  border: solid 1px #424651 $primary-color;
  border-radius: 5.6px;
  height: 34px;
  width: 205px;
}