@import "../base/variables";

.event-box {
  height: 565px;
  width: 590px; 
}

.event-box__event-image {
  margin-bottom: 25px; 
}

.event-title {
  margin-bottom: 25px; 
}

.event-detail-box {
  margin-left: 35px;
  width: 407px; 
}

.event-detail {
  margin-bottom: 15px; 
}