.footer__item {
  font-family: $rift;
  font-weight: 100;
  letter-spacing: .22px;
  margin-right: 20px; }

footer {
  margin-bottom: 100px;
  margin-top: 15px; 
}

.footer__end-title {
  font-family: $rift;
  font-size: $font--large;
  font-weight: $regular;
  letter-spacing: $medium-spacing;
  line-height: 35px;
}