.footer__item {
  font-family: rift-soft;
  font-weight: 100;
  letter-spacing: .22px;
  margin-right: 20px; }

footer {
  margin-bottom: 100px;
  margin-top: 15px; 
}

.footer__end-title {
  font-family: rift-soft;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 3.45px;
  line-height: 35px;
  margin-bottom: 25px; 
}