@import "../base/variables";

.header {
  margin-top: 50px;
}

.nav {
  height: 115px;
  margin-bottom: 50px;
}

.main-nav {
  display: flex;
  margin-top: 58px;
}

.main-nav__nav-item a {
  padding-left: 45px;
}

