.header {
  margin-top: 50px;
}

.nav {
  height: 115px;
  margin-bottom: 50px;
}

.main-nav {
  display: flex;
  margin-top: 58px;
}

.main-nav__nav-item {
  font-family: $rift;
  font-size: 23.5px;
  letter-spacing: .25px;
  padding-left: 45px;
}

.main-nav__nav-link {
  color: $primary-color;
  text-decoration: none;

&:hover {
  text-decoration: underline;
}

&:visited {
  color: $primary-color;
}
}

.main-nav__nav-link--current {
  color: $primary-color;
  text-decoration: underline;
}
