/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3, h4 {
  font: 600 16px/1.5 rift-soft, sans-serif; }

p {
  font: 100 16px/1.5 "Merriweather", serif; }

.bold-text {
  font-weight: 600;
  letter-spacing: 1.2px; }

h1 {
  font-size: 3.3rem;
  font-weight: 400;
  letter-spacing: 5.2px; }

h2 {
  font-size: 2.9rem;
  font-weight: 400; }

h3 {
  font-family: rift-soft;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 3.45px;
  line-height: 35px; }

.body__link {
  color: #F7F7FF; }

.main-nav__nav-link, .footer__item a {
  color: #F7F7FF;
  text-decoration: none; }
  .main-nav__nav-link:hover, .footer__item a:hover {
    text-decoration: underline; }
  .main-nav__nav-link:visited, .footer__item a:visited {
    color: #F7F7FF; }

.main-nav__nav-link--current {
  text-decoration: underline; }

.sub-header {
  font-size: 1.4rem;
  line-height: 45px; }

.emphasized-text {
  font-style: italic; }

.main-nav__nav-item a {
  font: 600 16px/1.5 rift-soft, sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 3.45px; }

.footer__item, .footer__item a {
  font: 100 16px/1.5 "Merriweather", serif;
  font-family: rift-soft;
  font-weight: 100;
  letter-spacing: 0.25px;
  margin-right: 20px; }

html {
  box-sizing: border-box;
  font-size: 100 16px/1.5 "Merriweather", serif;
  letter-spacing: 0.25px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  html *, html *:before, html *:after {
    box-sizing: inherit; }

body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#64a3ec+0,599ae6+25,007aff+100 */
  background: #64a3ec;
  /* Old browsers */
  background: -moz-linear-gradient(top, #64a3ec 0%, #599ae6 25%, #007aff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #64a3ec 0%, #599ae6 25%, #007aff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #64a3ec 0%, #599ae6 25%, #007aff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: #F7F7FF;
  display: flex;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64a3ec', endColorstr='#007aff',GradientType=0 );
  /* IE6-9 */
  font-size: 25px;
  justify-content: center;
  margin: 0 auto;
  width: 800px; }

header, footer, body {
  justify-content: center; }

.flex-box {
  display: flex;
  justify-content: center; }

.flex {
  display: flex;
  justify-content: center; }

.top-margin-lg {
  margin-top: 100px; }

.top-margin-sm {
  margin-top: 35px; }

.bottom-margin-sm {
  margin-bottom: 50px; }

.bottom-margin-lg {
  margin-bottom: 100px; }

.right-margin-sm {
  margin-right: 20px; }

.left {
  float: left; }

.right {
  float: right; }

.btn {
  background-color: #EA526F;
  border: 1.4px solid #F7F7FF;
  border-radius: 4.2px;
  color: #F7F7FF;
  height: 48px;
  font-family: rift-soft;
  font-weight: 400; }

.btn__primary {
  clear: both;
  font-size: 2rem;
  letter-spacing: 3.45px;
  width: 147px; }

.btn__primary--small {
  font: 100 16px/1.5 "Merriweather", serif;
  font-family: rift-soft;
  font-weight: 600;
  height: 1.8em;
  letter-spacing: 2px;
  width: 88px; }

.btn__tertiary {
  background-color: #C53D57;
  border-radius: 5.6px;
  font-size: 19.6px;
  height: 33px;
  vertical-align: top;
  width: 82px; }

input[type=email] {
  color: #4A4A4A;
  font: 100 16px/1.5 "Merriweather", serif;
  padding: 6px 6px; }

.email {
  background: #F7F7FF;
  border: solid 1px #424651 #F7F7FF;
  border-radius: 5.6px;
  height: 34px;
  width: 205px; }

.event-box {
  height: 565px;
  width: 590px; }

.event-box__event-image {
  margin-bottom: 25px; }

.event-title {
  margin-bottom: 25px; }

.event-detail-box {
  margin-left: 35px;
  width: 407px; }

.event-detail {
  margin-bottom: 15px; }

footer {
  margin-bottom: 100px;
  margin-top: 15px; }

.header__page-title {
  clear: both;
  display: flex;
  justify-content: center; }

.text-wrapper {
  margin: 30px 0px; }

.cloud-container {
  height: 175px;
  position: relative;
  width: 800px; }

.cloud-container__cloud1-img {
  margin-top: 55px;
  margin-left: 150px;
  position: absolute; }

.cloud-container__cloud2-img {
  margin-top: 100px;
  margin-left: 395px;
  position: absolute; }

.cloud-container__cloud3-img {
  margin-top: 35px;
  margin-left: 580px;
  position: absolute; }

.tagline-wrapper {
  margin-top: 75px; }

.tagline-wrapper__tagline-margin {
  margin-top: 12px; }

.header {
  margin-top: 50px; }

.nav {
  height: 115px;
  margin-bottom: 50px; }

.main-nav {
  display: flex;
  margin-top: 58px; }

.main-nav__nav-item a {
  padding-left: 45px; }

/*# sourceMappingURL=style.css.map */
