/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3, h4 {
  font: 600 16px/1.5 rift-soft, sans-serif; }

p {
  font-size: .9rem;
  letter-spacing: 1.2px;
  line-height: 20px; }
  @media (min-width: 520px) {
    p {
      font: 100 16px/1.5 "Merriweather", serif; } }

.bold-text {
  font-weight: 600;
  letter-spacing: 1.2px; }

h1 {
  font-size: 1.4rem;
  font-weight: 100; }
  @media (min-width: 520px) {
    h1 {
      font-size: 2rem; } }
  @media (min-width: 830px) {
    h1 {
      font-size: 3.3rem;
      font-weight: 400;
      letter-spacing: 5.2px; } }

h2 {
  display: flex;
  font-size: 1.9rem;
  font-weight: 400;
  justify-content: center; }
  @media (min-width: 520px) {
    h2 {
      font-size: 2.9rem; } }
  @media (min-width: 830px) {
    h2 {
      display: block;
      margin-left: 0; } }

h3 {
  font-family: rift-soft;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 3.45px; }
  @media (min-width: 520px) {
    h3 {
      font-size: 1.4rem; } }
  @media (min-width: 830px) {
    h3 {
      font-size: 2rem;
      line-height: 35px; } }

.sub-header {
  width: 104%; }
  @media (min-width: 830px) {
    .sub-header {
      font-size: 2rem;
      line-height: 45px; } }

.emphasized-text {
  font-style: italic; }

.body__link {
  color: #F7F7FF; }

.main-nav__nav-link, .footer__item a {
  color: #F7F7FF;
  text-decoration: none; }
  .main-nav__nav-link:hover, .footer__item a:hover {
    text-decoration: underline; }
  .main-nav__nav-link:visited, .footer__item a:visited {
    color: #F7F7FF; }

.main-nav__nav-link--current {
  text-decoration: underline; }

.main-nav__nav-item a {
  font: 600 16px/1.5 rift-soft, sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 3.45px; }

.footer__item, .footer__item a {
  font: 100 16px/1.5 "Merriweather", serif;
  font-family: rift-soft;
  font-weight: 100;
  letter-spacing: 0.25px;
  margin-right: 10px; }

.top-margin-sm {
  margin-top: 35px; }

.top-margin-lg {
  margin-top: 100px; }

.bottom-margin-sm {
  margin-bottom: 50px; }

.bottom-margin-lg {
  margin-bottom: 20px; }
  @media (min-width: 520px) {
    .bottom-margin-lg {
      margin-bottom: 100px; } }

.right-margin-sm {
  margin-right: 20px; }

.left {
  float: left; }

.right {
  float: right; }

.img-percentage {
  justify-content: center;
  justify-items: center;
  margin: 50px auto;
  width: 40%; }
  @media (min-width: 520px) {
    .img-percentage {
      width: 60%; } }
  @media (min-width: 830px) {
    .img-percentage {
      margin: 100px auto;
      width: 100%; } }

.img-percentage-2 {
  justify-content: center;
  justify-items: center;
  margin: 50px auto 10px auto;
  width: 40%; }
  @media (min-width: 520px) {
    .img-percentage-2 {
      width: 60%; } }
  @media (min-width: 830px) {
    .img-percentage-2 {
      margin: 100px auto 10px auto;
      width: 100%; } }

.hide {
  display: none; }
  @media (min-width: 830px) {
    .hide {
      display: block; } }

.no-margin {
  margin: 0; }
  @media (min-width: 520px) {
    .no-margin {
      margin: 50px auto 0px auto; } }

html {
  box-sizing: border-box;
  font: 100 16px/1.5 "Merriweather", serif;
  letter-spacing: 0.25px;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  html *, html *:before, html *:after {
    box-sizing: inherit; }

body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#64a3ec+0,599ae6+25,007aff+100 */
  background: #64a3ec;
  /* Old browsers */
  background: -moz-linear-gradient(top, #64a3ec 0%, #599ae6 25%, #007aff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #64a3ec 0%, #599ae6 25%, #007aff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #64a3ec 0%, #599ae6 25%, #007aff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: #F7F7FF;
  display: flex;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64a3ec', endColorstr='#007aff',GradientType=0 );
  /* IE6-9 */
  justify-content: center;
  margin: 0 auto;
  width: 800px; }

header, footer, body {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: auto; }
  @media (min-width: 830px) {
    header, footer, body {
      display: block;
      justify-content: center;
      width: 800px; } }

.flex-box {
  flex-direction: column; }
  @media (min-width: 520px) {
    .flex-box {
      display: flex;
      flex-direction: row;
      justify-content: center; } }

.flex {
  display: flex;
  justify-content: center; }

.long-text {
  margin: 30px auto;
  padding: 0 20px;
  text-align: left;
  width: 90%; }
  @media (min-width: 520px) {
    .long-text {
      width: 90%; } }
  @media (min-width: 830px) {
    .long-text {
      width: 100%; } }

.btn {
  background-color: #EA526F;
  border: 1.4px solid #F7F7FF;
  border-radius: 4.2px;
  color: #F7F7FF;
  font-family: rift-soft;
  font-weight: 400;
  height: 48px; }

.btn__primary {
  clear: both;
  font-size: 2rem;
  letter-spacing: 3.45px;
  width: 147px; }

.btn__primary--small {
  font-size: 1.6rem;
  height: 1.6em;
  margin-bottom: 10px;
  text-align: center;
  width: 100%; }
  @media (min-width: 520px) {
    .btn__primary--small {
      font: 100 16px/1.5 "Merriweather", serif;
      font-family: rift-soft;
      font-weight: 600;
      height: 1.8em;
      letter-spacing: 2px;
      width: 88px; } }

.btn__tertiary {
  background-color: #C53D57;
  border-radius: 5.6px;
  font-size: 19.6px;
  height: 33px;
  vertical-align: top;
  width: 82px; }

input[type=email] {
  color: #4A4A4A;
  font: 100 16px/1.5 "Merriweather", serif;
  padding: 6px 6px; }

.email {
  background: #F7F7FF;
  border: solid 1px #424651 #F7F7FF;
  border-radius: 5.6px;
  height: 34px;
  width: 205px; }

.text-wrapper-2 {
  margin: 30px auto;
  text-align: center;
  width: 40%; }
  @media (min-width: 520px) {
    .text-wrapper-2 {
      width: 60%; } }
  @media (min-width: 830px) {
    .text-wrapper-2 {
      margin: 0;
      text-align: left;
      width: 100%; } }

.event-box {
  height: 590px; }
  @media (min-width: 520px) {
    .event-box {
      height: 555px;
      width: 100%; } }
  @media (min-width: 830px) {
    .event-box {
      height: 565px; } }

.event-box__event-image {
  margin-bottom: 25px; }

.event-title {
  margin-bottom: 25px; }

.event-detail-box {
  height: 80%;
  margin: 0 auto;
  width: 35%; }
  @media (min-width: 520px) {
    .event-detail-box {
      margin-left: 22%;
      width: 55%; } }

.event-detail {
  margin-bottom: 15px; }

footer {
  margin-bottom: 100px;
  margin-top: 15px; }

.header__page-title {
  clear: both;
  display: flex;
  justify-content: flex-start;
  margin-left: 10px; }
  @media (min-width: 520px) {
    .header__page-title {
      margin-left: 20px; } }
  @media (min-width: 830px) {
    .header__page-title {
      justify-content: center;
      margin-left: 0; } }

.text-wrapper {
  margin: 30px auto;
  text-align: center;
  width: 40%; }
  @media (min-width: 520px) {
    .text-wrapper {
      width: 60%; } }
  @media (min-width: 830px) {
    .text-wrapper {
      width: 100%; } }

.cloud-container {
  height: 100px;
  position: relative;
  width: 800px; }
  @media (min-width: 520px) {
    .cloud-container {
      height: 135px; } }
  @media (min-width: 830px) {
    .cloud-container {
      height: 175px; } }

.cloud-container__cloud1-img {
  margin-top: 7px;
  margin-left: 275px;
  position: absolute;
  width: 8%; }
  @media (min-width: 520px) {
    .cloud-container__cloud1-img {
      margin-top: 55px;
      margin-left: 150px;
      width: auto; } }

.cloud-container__cloud2-img {
  margin-left: 370px;
  margin-top: 65px;
  position: absolute;
  width: 8%; }
  @media (min-width: 520px) {
    .cloud-container__cloud2-img {
      margin-left: 395px;
      margin-top: 100px;
      width: auto; } }

.cloud-container__cloud3-img {
  position: absolute;
  margin-left: 467px;
  margin-top: 16px;
  width: 8%; }
  @media (min-width: 520px) {
    .cloud-container__cloud3-img {
      margin-left: 580px;
      margin-top: 35px;
      width: auto; } }

.tagline-wrapper {
  margin-top: 75px; }

.tagline-wrapper__tagline-margin {
  margin-top: 12px; }

.header {
  margin-top: 50px; }

.nav {
  height: 115px;
  margin-bottom: 50px;
  margin-left: 20px;
  text-align: center; }
  @media (min-width: 520px) {
    .nav {
      margin-right: 0;
      text-align: left; } }

.main-nav {
  display: flex; }
  @media (min-width: 520px) {
    .main-nav {
      margin-top: 58px; } }
  @media (min-width: 830px) {
    .main-nav {
      float: right; } }

.main-nav__nav-item a {
  padding-left: 20px; }
  @media (min-width: 830px) {
    .main-nav__nav-item a {
      padding-left: 45px; } }

.main-nav__nav-item {
  display: block; }

/*# sourceMappingURL=style.css.map */
