@import "variables";

h1, h2, h3, h4 {
  font: $header-font;
}

p {
  font: $body-font;
}

h1 {
  font-size: 3.3rem;
  font-weight: $regular;
  letter-spacing: $large-spacing; 
}

.body-text {
  font-family: 'Merriweather', serif;
  font-size: 1rem;
  letter-spacing: .35px;
  line-height: 25px; }

.primary-text {
  font-weight: 700;
  letter-spacing: 1.2px; }

.secondary-text {
  font-weight: 300; }

.emphasized-text {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-style: italic;
  font-size: 16px;
  letter-spacing: 1.2px; }

.main-nav__nav-item a {
  font: $header-font;
  font-size: 1.4rem;
  font-weight: $regular;
  letter-spacing: $medium-spacing;
}

.body__link {
  color: $primary-color;
  font-family: 'Merriweather', serif;
  font-size: 14px;
  letter-spacing: 1.2px;
  line-height: 25px; 
}

.section-title {
  font-family: rift-soft;
  font-size: 45.7px; 
}