
//Background
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#64a3ec+0,599ae6+25,007aff+100 */
$background: green;


//Font Colors
$primary-color: #F7F7FF;
// $primary-btn-color:
// $secondary-btn-color: 

//Typography
$rift: rift-soft;
$Merriweather: 'Merriweather';

//Font weights
$light: 100;
$regular: 400;
$bold: 700;

//Font sizes
$font--xsmall: 12px;
$font--small: 16px;
$font--medium: 23.75px;
$font--large: 32px;
$font--xlarge: 47.5px;
$font--xxlarge: 53.6px;

//Letter spacing
$body-spacing: .25px;
$medium-spacing: 3.45px;
$large-spacing: 5.2px;

//Buttons
$btn-background: #EA526F;
$btn-border: white;
// {
// 	solid 1px #424651;
// 	border-radius: 4.2px;
// }