//Font Color
$primary-color: #F7F7FF;
$grey: #4A4A4A;

//Typography
$rift: rift-soft;
$Merriweather: 'Merriweather';

//Font weights
$light: 100;
$regular: 400;
$bold: 700;

//Font sizes
$font--xsmall: 12px;
$font--small: 16px;
$font--medium: 23.75px;
$font--large: 32px;
$font--xlarge: 47.5px;
$font--xxlarge: 53.6px;

//Letter spacing
$body-spacing: .25px;
$medium-spacing: 3.45px;
$large-spacing: 5.2px;

//Buttons
$primary-btn-background: red;
$secondary-btn-background: green;

